@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@media
(prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

html {
    overflow-y: hidden;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
    min-height: 100vh;
    margin: 0;
    cursor: default;
}

/* Navbar Styles */

.hover-effect {
    display: inline-block;
    padding-bottom: .25rem;
    position: relative;
}

.hover-effect::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width .25s ease-out;
}

.hover-effect:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.logo h2 {
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
    height: 70px;
}

.navlinks {
    font-weight: 400;
}

.navlinks ul {
    margin: 0;
    padding: 0;
}

.navlinks li {
    list-style: none;
    display: inline-block;
    padding: 0 .5rem;
    transition: .5s ease;
}

.navlinks li a {
    text-decoration: none;
    color: #000;
}

/* Content Styles */





